@charset "UTF-8";

body {
	background: #252525;
	color: #ffffff;
	padding: 20px 20px 20px 20px;
	line-height: 1.4;
	font-family: "고딕";
}
.tower{
	display: inline-block;
	background-color: green;
	left: 300px;
	position: relative;
}
.floor {
 width: 300px;
 height: 100px;
 background-color: #034694;
 margin:10px 10px 5px 5px;
 font-size:2em;
 font-weight:bold;
 cursor: pointer;
 position: relative;
 text-align: right;
 padding-right: 10px;
}
.elevator {
 width: 300px;
 height: 100px;
 margin: -10px 5px 5px 5px;
 background-color: #b44095;
 position: absolute;
 padding-left: 8px;
 font-size:2em;
 font-weight:bold;
 cursor: default;
}
.brown {
 background-color: brown;
}
.clickbrown {
 background-color: brown;
}
.yellowgreen {
 background-color: yellowgreen;
}
.people {
 position: absolute;
 margin: -10px 10px 10px 10px;
 width: 70px;
 height: 100px;
}
